<div class="row">
    <h2>Formación Academica:</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Secundario completo</h3> 
                <p>Egresada del establecimiento educativo "Santa Teresa" 2020</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Operador Avanzado de PC</h3> 
                <p>Windows-arquitectura de la PC-paquete oficce- diseño grafico-multimedia y web- Departamento de informatica. Colegio Santa Teresa (6 años 2014-2020)</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Estudiante de Sistema</h3> 
                <p>Lic. Analista en Sistema en la Universidad de Buenos Aires</p>
            </li>
        </ul>
       
</div>

