.row{
    background-color: rgb(150, 215, 241);
}
footer{
    color: rgb(253, 253, 253);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;

}