<div class="row">
    <h2>Cursos realizados con certificacion:</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Fundamentos del Marketing Digital</h3> 
                <p>Google Activate y the Open University 08/08/2021</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Desarrollo de Apps Moviles</h3> 
                <p>Google Activate y Universidad Madrid 06/08/2021</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Se programar</h3> 
                <p>Ministerio de desarrollo Productivo de la Nacion y la Camara de la Industria Argentina del Software(CESSI) 11/06/222</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Introduccion a la Programación</h3> 
                <p>Mumuki y Municipalidad de Lanús 22/07/2022</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Diseño UX/UI</h3> 
                <p>Programa Codo a Codo 2022</p>
            </li>
        </ul>
    </div>
</div>

