<div class="row">
    <h2>Proyectos Realizados:</h2>
    <div class="contenedor"> 
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Mi primera pagina web</h3>
            <p>En este proyecto la temática era libre, en mi caso elegí sobre las obras que podemos encontrar sobre la calle Broadway en Nueva York con sus despectiva información utilizando las herramientas de HTML y CSS. 24/09/2020</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1  parte2">
            <img src="../../../assets/times bro.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
    <div class="row">
        
        <div class="contenedor"> 
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Aplicacion de Diseño UX/UI</h3>
                <p>En este proyecto teniamos que crear una aplicacion, haciendo un diseño completo, con información como entrevistas, encuestas para nuestro usuario. tambien utilizando diferentes paginas de diseño como Figma|   .2022</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1  parte2">
                <img src="../../../assets/diseño ui.jpg" class="img-fluid img-proyecto">
            </div>
        </div>
   



