<div class="row">
    <h2> Hard and soft skills:</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg -4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'rgb(255, 255, 255)'"
        [innerStrokeColor]="'rgb(255, 255, 255)'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg -4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'rgb(255, 255, 255)'"
        [innerStrokeColor]="'rgb(255, 255, 255)'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg -4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'GitHub'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'rgb(255, 255, 255)'"
        [innerStrokeColor]="'rgb(255, 255, 255)'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg -4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'Ingles'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'rgb(255, 255, 255)'"
        [innerStrokeColor]="'rgb(255, 255, 255)'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg -4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [showUnits]="false"
        [title]="'Trabajo Colaborativo'"
        [titleFontSize]="'1em'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'rgb(255, 255, 255)'"
        [innerStrokeColor]="'rgb(255, 255, 255)'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>

    

</div>

