<div class="row">
    <div class="col-xs-12 col-sm-2 col-nd-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-nd-2 col-lg-2">
        <p id="nombre">Georgina Villarroel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-nd-8 col-lg-8">
        <span>
            <h2>Sobre mí </h2>
            <p>Actualmente soy estudiante en la Universidad de Buenos Aires en la carrera LIC. Analista en Sistema. Tambien realice unos minis cursos de diseño UX/UI entre otros. Practico Arqueria ya hace 6 años, donde pertenezco a la Federacion Argentina de arqueros</p>
        </span>
    </div>
</div>
